<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Angular</title>
</head>

<body ng-app ng-init="test=false">
    <div ng-show="test === false"> hi Ivan!!! </div>
    <input ng-model="name"/>
    <p ng-make-short>qqq qqq qqq qqq qqq qqq qqq</p>
    <p ng-bind="name"></p>
    <ul>
      <li ng-make-long="some">One</li>
    </ul>
    <button ng-click="test = !test">Click Me</button>
</body>

</html>
